<html>
    <p>请编写你的Grule规则</p>
    <form name="grule" method="POST" action="/grule/form/">
        规则名称: <input name="ruleName"></input><br/>
        规则描述: <input name="ruleDesc"></input><br/>
        规则条件: <input name="ruleCondition"></input><button>增加</button><br/>
        规则逻辑: <input name="ruleLogic"></input><button>增加</button><br/>
        <button type="submit">确认</button>
    </form>
    <script>
        
    </script>
</html>