<html>
    <p>请编写你的Grule规则</p>
    <form name="grule_add">
        规则名称: <input></input><br/>
        规则描述: <input></input><br/>
        规则条件: <input></input><button>增加</button><br/>
        规则逻辑: <input></input><button>增加</button><br/>
        <button>确认</button>
    </form>
    <script>
        
    </script>
</html>